<div class="grid-container">
  {{#if series.length}}
  {{#each series}} <div class="grid-item">
    <div class="series-img-container">
      <img src='/assets{{poster_path}}' alt="">
    </div>
    <h1>{{name}}</h1>
  </div>
  {{/each}}
  {{/if}}

</div>