{{#if series}}

<div class="individual-grid-container">
    <div class="individual-grid-item">
        <img class="series-image-individual" src='/assets{{series.poster_path}}' alt="{{series.name}} poster not found">
    </div>
    <div class="individual-grid-item">
        <h1>{{series.name}}</h1>
        <h4>{{series.overview}}</h4>
    </div>
</div>



{{/if}}