body {
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  color: #fff;
}

.movie-info-container {
  position: absolute;
  right: 0;
  width: 50%;
  margin: 8;
  padding: 8;
  background: rgb(43, 43, 43);
  color: white;
}
