@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Indie Flower', cursive !important;
  overflow-x: hidden;
  background: #0D0D0F !important;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}


.navbar{
  background-color: #5f051f !important;
}


#search-box:focus{
  outline: 2px solid #caf9d2 !important;
outline: none;
}

.movie-card{
  transition: all .3s ease-in-out;
}
.movie-card:hover{
  transform: scale(1.02);
  box-shadow: 08px 08px 08px rgba(0,0,0,.1);
}



@media screen and (max-width:724px) {
  #movie-data{
    flex-direction: column;
  }
  #form{
    width: 100% !important;
  }
}

.pagination{
  display:flex;
  gap: 0 12px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.pagination>li{
  background-color: #252525;
  font-size: 18px;
  padding: .3em .6em;
  border-radius: 5px;
  transition: all .2s linear;
}

.pagination>li:hover{
  background-color: #36b07d;
  color: black;
}



.pagination > .previous>a{
  color: white ;
}
.pagination > .next>a{
  color: white ;
  
}
.pagination > .previous>a:hover{
  color: black ;
}
.pagination > .next>a:hover{
  color: black ;
}

.selected{
  background-color:#36b07d  !important;
  color: black;
}

