* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: black;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: baseline;
    width: 100%;
    height: 100%;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 48, 48);
    margin: 1em;
    padding: 1em;
    width: 75%;
}

.show:hover {
    cursor: pointer;
}

.show-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 77, 77);
    width: fit-content;
    align-items: center;
    justify-self: baseline;
}

.show-thumbnail {
    width: 10em;
}

.show-hover-info {
    position: sticky;
    background-color: rgb(26, 26, 26);
    z-index: 1000;
    padding: 1em;
}

.show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 1em;
    width: 20em;
    gap: 1em;
}

.show-details-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;
}

.show-details-summary {
    display: flex;
    flex: 1;
    flex-grow: 1;
    width: 100%;
    gap: 1em;
}

.show-details-thumbnail {
    display: flex;
    align-self: flex-end;
}

.show-details-back-button {
    margin-bottom: 0;
}

input,
button {
    color: white;
    background-color: rgb(43, 43, 43);
    border-radius: 1em;
    padding: 1em;
    border-style: none;
}

button:hover {
    background-color: rgb(139, 139, 139);
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
}

@media (min-width: 800px) {
    .show-details {
        width: 50em;
    }
  }